h1 {
    color:rgb(234, 164, 199); background-color: rgb(36, 59, 59);

}
h2 {
    color: rgb(107, 180, 229); background-color: rgb(36, 59, 59);


}
h3 {
    background-color:rgb(234, 164, 199); 


}
h4 {
    box-shadow: darkgrey;


}